@mixin typo-title($color: $c_base) {
  margin: 0;
  padding: 0;
  font-size: $fz_l;
  line-height: $lh_m;
  font-weight: $fw_light;
  color: $color;

  @media #{$tablet} {
    font-size: $fz_xxl;
    line-height: $lh_xxl;
  }

  @media #{$desktop} {
    font-size: $fz_xxxl;
    line-height: $lh_xxl;
  }
}

@mixin typo-link {
  color: $c_bright;

  &:hover {
    color: $c_base;
  }

  &:active {
    color: rgba($c_base, 0.3);
  }
}

@mixin typo-link-special {
  font-size: $fz_l;
  line-height: $lh_m;
  color: $c_bright;
  text-decoration: none;
  font-weight: $fw_light;
  &:hover {
    color: $c_base;
    text-decoration: underline;
  }

  &:active {
    color: rgba($c_base, 0.3);
    text-decoration: none;
  }
}


@mixin typo-text {
  margin: 0;
  padding: 0;
  font-size: $fz_base;
  line-height: $lh_m;

  @media #{$tab-desk} {
    font-size: $fz_m;
  }
}

@mixin typo-small {
  margin: 0;
  padding: 0;
  font-size: $fz_s;

  @media #{$tablet} {
    font-size: $fz_s
  }

  @media #{$desktop} {
    font-size: $fz_m;
  }
}

@mixin typo-label {
  margin: 0;
  font-size: $fz_base;
  line-height: $lh_m;
  color: $c_bright;
  text-transform: uppercase;
}

@mixin typo-form-text {
  font-size: $fz_m;
  line-height: $lh_m;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: $fz_base;
  line-height: $lh_s;
  color: $c_base;
}

// @media #{$mobile}
// @media #{$tab-desk}
// @media #{$tablet}
// @media #{$desktop}
