extends ../_layouts/base

block variables
  - var isIndex = true
  - var isFooterMobileHidden = true
  
append style
  +style-reviews
  +style-tariffs

block content
  +b.intro--index
    +e.title-wrap--index
      +e.H1.title--index Взгляните на&nbsp;жизнь иначе!
    +download

  .box
    .container
      h2.title
        span Устали от&nbsp;серости мегаполиса?
        span Нам есть, что вам предложить!

  .box.box--dark
    .container
      +features

  .box.box--blink
    .container
      +research

  .box
    .container
      +reviews

  .box.box--dark
    .container
      +tariffs

  .box
    .container
      +contacts
