@mixin typo-h1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}

// @mixin typo-base-text
// @mixin typo-page-heading
// @mixin typo-promo
// @mixin typo-label

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: $fz_base;
  line-height: $lh_base;
  color: $c_base;
}

// @media #{$mobile}
// @media #{$tab-desk}
// @media #{$tablet}
// @media #{$desktop}
