.form {
  display: flex;
  flex-wrap: wrap;

  &__fieldset {
    width: 100%;
    margin: 0;
    border: none;
    outline: 1px solid tomato;
  }
}

@media #{$mobile} {
  .form {
    flex-direction: column;
    margin-left: - $offset_mobile;
    margin-right: - $offset_mobile;

    &__fieldset {
      padding-left: $offset_mobile;
      padding-right: $offset_mobile;

      &--name {
        order: 1;
      }

      &--os {
        order: 4;
        background-color: $bg_grey;
      }

      &--contact {
        order: 3;
      }

      &--achieve {
        order: 2;
        background-color: $bg_grey;
      }

      &--text {
        order: 5;
      }
    }

    &__btn-wrap {
      order: 6;
      padding-left: $offset_mobile;
      padding-right: $offset_mobile;
    }

    &__disclaimer {
      order: 7;
      padding-left: $offset_mobile;
      padding-right: $offset_mobile;
    }
  }
}
// @media #{$tab-desk}
// @media #{$tablet}
@media #{$desktop} {
  .form {

    &__fieldset {

      &--name {
        width: 50%;
        padding-right: 0;
      }

      &--os {
        width: 50%;
        padding-left: 0;
      }
    }
  }
}
