.post {
  width: $w_block;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  &__img-wrap {
    display: block;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__img {
    width: $w_block;
  }

  &__content-wrap {
    @include container;
  }

  &--top {
    width: 100%;
    padding: 0;
  }

  &--top &__img-wrap {
    background-color: $bg_grey;
    height: auto;
  }

  &--top &__img {
    display: block;
    width: 100%;
    min-width: $w_block + $gutter;
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media #{$tab-desk} {
  .post {
    width: $w_block + $gutter;

    &__img {
      width: $w_block + $gutter;
    }

    &--top {
      width: 100%;
      padding: 0;
    }
  }
}

@media #{$tablet} {
  .post {
    &__img-wrap {
      height: 300px;
    }
  }
}

@media #{$desktop} {
  .post {
    &__img-wrap {
      height: 400px;
    }
  }
}
