.tariffs {
  &__title {
    position: relative;

    &--hit::before {
      content: "Хит";
      position: absolute;
      top: 0;
      left: 0;
      background:
        transparent
        inline("./img/bg-hit.svg")
        left top / auto
        no-repeat;
    }
  }

  td {
    outline: 1px solid tomato;

    .svg-icon-yes {
      fill: #3dc644;
    }

    .svg-icon-no {
      fill: #f25b26;
    }
  }
}

@media #{$mobile} {
  .tariffs {
    margin-right: -($offset_mobile);
    margin-left: -($offset_mobile);
    &__table {
      width: 100%;
    }
    th,
    td {
      width: 25%;
    }

    &__row-name,
    &__option-name {
      display: none;
    }

    &__option-value {
      position: relative;
      &::before {
        content: attr(data-option);
        display: inline-block;
        padding-right: 10px;
      }

      span {
        font-size: 0;
      }
    }
  }
}

@media #{$tab-desk} {
  .tariffs {
    &__table {
      width: 100%;
    }
    td {
      width: auto;
    }
  }
}
// @media #{$tablet}
// @media #{$desktop}
