.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: $fw_bold;
  outline: none;
  transition: $trs_base;

  /* ============================================>>>>>
  = Color Mods =
  ===============================================>>>>> */
  &--c-brand {
    color: $c_bright;
    background-color: transparent;

    &:hover {
      color: $c_alt;
      border-color: $c_bright;
      background-color: $c_bright;
    }
    &:active {
      color: rgba($c_alt, 0.3);
      border-color: $c_bright;
      background-color: $c_bright;
    }
  }

  &--c-mono {
    color: rgba($c_base, 0.1);
    background-color: transparent;

    &:hover {
      color: rgba($c_base, 0.1);
      border-color: rgba($c_base, 0.3);
      background-color: transparent;
    }
    &:active {
      color: rgba($c_alt, 0.3);
      border-color: rgba($c_base, 0.3);
      background-color: rgba($c_base, 0.3);
    }
  }

  &--c-alt {
    color: $c_alt;
    background-color: transparent;

    &:hover {
      color: $c_bright;
      border-color: $c_alt;
      background-color: $bg_alt;
    }
    &:active {
      color: rgba($c_bright, 0.3);
      border-color: $c_alt;
      background-color: $bg_alt;
    }
  }

  &--c-green {
    color: $c_alt;
    background-color: #2aab6d;

    &:hover {
      color: $c_alt;
      background-color: #1c9b5e;
    }
    &:active {
      color: rgba($c_alt, 0.3);
      background-color: $bg_alt;
    }
    &[disabled] {
      color: $c_alt;
      background-color: #e5e5e5;
    }
  }

  /* --------------------------------------------<<<<<
  = End of Color Mods =
  ===============================================<<<<< */

  /* ============================================>>>>>
  = Sizes and Forms Mods =
  ===============================================>>>>> */

  &--small {
    padding: 10px 20px;
    font-size: $fz_m;
    border: 3px solid;
    border-radius: 30px;
  }

  &--square {
    padding: 10px 20px;
    font-size: $fz_m;
    text-transform: uppercase;
  }

  /* --------------------------------------------<<<<<
  = End of Sizes and Forms Mods =
  ===============================================<<<<< */
}
