.contacts {
  text-align: center;
  padding-bottom: 26px;

  &__list {
    @include list-clear;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__sub-list {
    @include list-clear;
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__descr {
    margin: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: $fz_m;
    line-height: $lh_m;
    font-weight: $fw_bold;
  }

  &__link {
    @include typo-link-special;
  }

  &__text {
    font-size: $fz_l;
    line-height: $lh_m;
    color: $c_bright;
    font-weight: $fw_light;
  }
}

/*
███    ███  ██████
████  ████ ██    ██
██ ████ ██ ██    ██
██  ██  ██ ██ ▄▄ ██
██      ██  ██████
               ▀▀
*/

@media #{$mobile} {
  .contacts {
    &__list {
      flex-direction: column;
    }
  }
}
// @media #{$tab-desk}

@media #{$tablet} {
  .contacts {
    padding-top: 10px;
    padding-bottom: 10px;

    &__item {
      @include col-fluid(6);
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 15px;
    }
  }
}

@media #{$desktop} {
  .contacts {
    padding-bottom: 10px;

    &__list {
      padding-top: 20px;
    }

    &__item {
      @include col-fluid(4);

      &:nth-of-type(1) {
        order: 1;
      }
      &:nth-of-type(2) {
        order: 3;
      }
      &:nth-of-type(3) {
        order: 2;
      }
    }

    &__title {
      margin-bottom: 15px;
    }
  }
}
