.descr {
  margin: 0;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 34px;
  &__text {
    @include typo-text;
  }
  &--inner {
    padding-top: 43px;
    padding-bottom: 42px;
  }
}

@media #{$mobile} {
  .descr {
    &__hidden {
      @include text-hide;
    }
  }
}


@media #{$tablet} {
  .descr {
    padding-top: 92px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    &--inner {
      padding-top: 65px;
      padding-bottom: 69px;
    }
  }
}

@media #{$desktop} {
  .descr {
    padding-top: 92px;
    padding-bottom: 78px;
    padding-left: 80px;
    padding-right: 80px;
    &--inner {
      padding-top: 59px;
      padding-bottom: 66px;
    }
  }
}
