.features {
  position: relative;
  padding-top: 70px;
  overflow: hidden;

  &__item {
    display: flex;
    text-align: center;
  }

  &__descr {
    margin-bottom: 35px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: $fz_m;
    line-height: 1;
    font-weight: $fw_bold;
    color: #000;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: $c_base;
  }
}

@media #{$mobile} {
  .features {
    &__item {
      flex-direction: column-reverse;
    }

    &__img {
      display: none;
      margin: 0 auto;
    }

    &__item:last-child &__descr {
      margin-bottom: 0;
    }

    &__item:last-child &__img {
      position: relative;
      bottom: -40px;
      display: block;
      z-index: 1;
    }
  }
}


@media #{$tablet} {
  .features {
    &__item {
      padding-left: 310px;
      text-align: left;
    }
    &__img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@media #{$desktop} {
  .features {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 240px;
      flex-direction: column;
    }

    &__img {
      margin-bottom: 45px;
    }

    &__title {
      font-size: $fz_xl;
      margin-bottom: 25px;
    }

    &__text {
      font-size: $fz_m;
    }
  }
}

// @media #{$tab-desk}
