$bg_intro:
  $bg_base
  url("../img/intro/bg-back-mobile.jpg")
  center /
  cover
  no-repeat;

$bg_hand:
  url("../img/intro/iphone-hand-mobile.png")
  center bottom /
  auto 286px
  no-repeat;

.intro {
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  &__title-wrap {
    @include container;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  &__title {
    @include typo-title($c_alt);
  }

  &__text-wrap {
    @include container;
    background-color: $bg_alt;
  }
}

/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/


@media #{$mobile} {
  .intro {
    &__title-wrap {
      background: $bg_intro;
    }

    &--index &__title-wrap {
      padding-top: 85px;
      padding-bottom: 315px;
      background:
        $bg_hand,
        $bg_intro;
    }
  }

  @media #{$retina2x} {
    .intro {
      &--index &__title-wrap {
        background-image:
          url("../img/intro/iphone-hand-mobile@2x.png"),
          url("../img/intro/bg-back-mobile@2x.jpg");
      }
    }
  }
}

/*
████████  █████  ██████  ██      ███████ ████████
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ███████ ██████  ██      █████      ██
   ██    ██   ██ ██   ██ ██      ██         ██
   ██    ██   ██ ██████  ███████ ███████    ██
*/

@media #{$tablet} {
  .intro {
    background-image: url("../img/intro/bg-back-tablet@1x.jpg");

    &__title-wrap {
      padding-top: 185px;
      padding-bottom: 130px;
    }

    &--index &__container {
      background-image: url("../img/intro/iphone-hand-tablet@1x.png");
      background-size: auto 545px;
    }

    &--index &__title-wrap {
      padding-top: 210px;
      padding-bottom: 10px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media #{$retina2x} {
    .intro {
      background-image: url("../img/intro/bg-back-tablet@2x.jpg");
    }

    &--index &__container {
      background-image: url("../img/intro/iphone-hand-tablet@2x.png");
    }
  }
}

/*
████████  █████  ██████        ██████  ███████ ███████ ██   ██
   ██    ██   ██ ██   ██       ██   ██ ██      ██      ██  ██
   ██    ███████ ██████  █████ ██   ██ █████   ███████ █████
   ██    ██   ██ ██   ██       ██   ██ ██           ██ ██  ██
   ██    ██   ██ ██████        ██████  ███████ ███████ ██   ██
*/

@media #{$tab-desk} {
  .intro {
    &__container {
      @include container;
    }

    &--index &__title {
      width: $w_block;
    }

    &--index &__container {
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }
}

/*
██████  ███████ ███████ ██   ██ ████████  ██████  ██████
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██
██   ██ █████   ███████ █████      ██    ██    ██ ██████
██   ██ ██           ██ ██  ██     ██    ██    ██ ██
██████  ███████ ███████ ██   ██    ██     ██████  ██
*/

@media #{$desktop} {
  .intro {
    background-image: url("../img/intro/bg-back-desktop.jpg");
    &__title-wrap {
      padding-top: 175px;
      padding-bottom: 90px;
    }

    &--index &__container {
      background-image: url("../img/intro/iphone-hand-desktop@1x.png");
      background-size: auto 645px;
    }

    &--index &__title-wrap {
      padding-top: 220px;
      padding-bottom: 30px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media #{$retina2x} {
    .intro {
      &--index &__container {
        background-image: url("../img/intro/iphone-hand-desktop@2x.png");
      }
    }
  }
}
