.research {
  display: none;

  &__title {
    margin: 0;
    color: #000;
  }

  &__text {
    margin: 0;
  }

  &__link {
    @include typo-link;
  }
}

@media #{$tab-desk} {
  .research {
    padding-top: 98px;
    padding-bottom: 95px;
    display: block;

    &__title {
      font-size: $fz_xl;
    }
  }
}

@media #{$tablet} {
  .research {
    padding-left: 310px;
    background:
      transparent
      inline("inline/icon-timer.svg")
      left 0 top 47% /
      240px auto
      no-repeat;

    &__title {
      width: 200px;
      margin-bottom: 10px;
      line-height: $lh_l;
    }

    &__text {
      margin-bottom: 10px;
    }
  }
}

@media #{$desktop} {
  .research {
    margin-bottom: 40px;
    padding-left: 370px;
    background:
      $bg_grey
      inline("inline/icon-timer.svg")
      left 0 top 50% /
      300px auto
      no-repeat;

    &__title {
      line-height: 1;
      margin-bottom: 25px;
    }

    &__text {
      font-size: $fz_m;
      margin-bottom: 35px;
    }

    &__link {
      font-size: $fz_m;
    }
  }
}
