mixin modal
  +b.modal
    +e.title Ваша заявка отправлена
    +e.text Спасибо за&nbsp;ваше участие, ваша заявка уже поступила к&nbsp;нам. В&nbsp;ближайшее время мы&nbsp;рассмотрим ее&nbsp;и&nbsp;оповестим вас.
    +e.inner--bg
      +b.A.btn--modal(href="#") Закрыть окно

mixin modal-fail
  +b.modal--fail
    +e.title Что-то пошло не&nbsp;так!
    +e.text Проверьте поля, выделенные красным, скорее всего вы&nbsp;забыли их&nbsp;заполнить
    +e.inner
      +b.A.btn--modal(href="#") Ok
